node_modules/
.env
google-credentials.json
data.json
qc-doc-cache.json
komal-cache.json
*.log
check_admin_config_writing.js
dump_attendance_tabs_list.js
dump_unassigned.js
find_aditya_qc.js
find_links_in_registry_sheet.js
find_substrings.js
inspect_registry.js
list_attendance_sheets.js
print_env.js
read_2026_attendance_headers.js
read_all_shared_sheets_meta.js
read_attendance_tabs.js
read_audit_performance_sheet.js
read_chat_count_tabs.js
read_chat_count_tabs_exact.js
read_cols_modal.js
read_config_details.js
read_hidden_tab.js
read_lead_scorecard.js
read_lead_sheets.js
read_master_links.js
read_other_tabs.js
read_scorecard_full.js
scratch/
search_attendance_sheets.js
search_batch_filters.js
search_btn_apply_filters.js
search_checkbox_container.js
search_custom_cols_html.js
search_filters.js
search_filters_html.js
search_highlights_html.js
search_lead_scorecard.js
search_raw_config.js
search_raw_texts.js
search_scorecard_render.js
search_state_init.js
search_unlimited.js
